.itemBlock {
  padding-left: 50px;
  display: flex;
  flex-direction: column;

  .imageWrapper {
    position: relative;
    width: 35vw;
  }

  .back {
    text-decoration: none;
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
  }
}