.mainBlock {
  padding: 10px;
  max-width: 70vw;

  .itemsList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    .item {
      min-width: 14vw;
      margin-bottom: 15px;
      position: relative;
      max-width: 20vw;
      max-height: 20vw;

      .itemImage {
        width: 13vw;
      }

      a {
        display: block;
        text-decoration: none;
        color: yellowgreen;
        text-align: center;
      }

      a:hover {
        color: gold;
      }
    }
  }
}